@using DentistProject.Entities.Enum
@model DentistDto

@{
    ViewData["Title"] = "AddDoctor";
    Layout = "~/Views/Shared/_DoktorRandevuLayout.cshtml";
}

<div class="content-page">
    <div class="container-fluid container">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Doktor Ekle</h4>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <div class="crm-profile-img-edit position-relative">
                                    <img class="crm-profile-pic rounded-circle avatar-100" src="" alt="profile-pic">
                                    <div class="crm-p-image bg-primary">
                                        <i class="las la-pen upload-button"></i>
                                        <input asp-for="Photo" class="file-upload" type="file" accept="image/*">
                                    </div>
                                </div>
                                <div class="img-extension mt-3">
                                    <div class="d-inline-block align-items-center">
                                        <span>Only</span>
                                        <a href="javascript:void(0);">.jpg</a>
                                        <a href="javascript:void(0);">.png</a>
                                        <a href="javascript:void(0);">.jpeg</a>
                                        <span>allowed</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Doktor Rol:</label>
                                <select class="form-control" id="selectuserrole">
                                    <option value="@ERoleType.Admin">Ofis Yöneticisi</option>
                                    <option value="@ERoleType.Asistant">Asistan</option>
                                    <option value="@ERoleType.Hygienist">Hijyenist</option>
                                    <option value="@ERoleType.AestheticDentist">Estetik Diş Hekimi</option>
                                    <option value="@ERoleType.JawSurgeryandOrthognathicSurgery">Çene Cerrahisi ve Orgotnatik Cerrahi</option>
                                    <option>Ortodonti </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="furl">Facebook Url:</label>
                                <input asp-for="Facebook" type="text" class="form-control" id="furl" placeholder="Facebook Url">
                            </div>
                            <div class="form-group">
                                <label for="turl">Twitter Url:</label>
                                <input asp-for="Twitter" type="text" class="form-control" id="turl" placeholder="Twitter Url">
                            </div>
                            <div class="form-group">
                                <label for="instaurl">Instagram Url:</label>
                                <input asp-for="Instagram" type="text" class="form-control" id="instaurl" placeholder="Instagram Url">
                            </div>
                            <div class="form-group">
                                <label for="lurl">Linkedin Url:</label>
                                <input asp-for="Linkedin" type="text" class="form-control" id="lurl" placeholder="Linkedin Url">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">New User Information</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="new-user-info">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="fname">İsim:</label>
                                            <input asp-for="User.Name" type="text" class="form-control" id="fname" placeholder="İsim">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lname">Soyisim:</label>
                                            <input asp-for="User.Surname" type="text" class="form-control" id="lname" placeholder="Soyisim">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="add1">Açık Adres 1:</label>
                                            <input asp-for="User.Address" type="text" class="form-control" id="add1" placeholder="Adres 1" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="add2">Açık Adres 2:</label>
                                            <input asp-for="Adress2" type="text" class="form-control" id="add2" placeholder="Adres 2">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label>Country:</label>
                                            <select class="form-control" id="selectcountry">
                                                <option>Ülke Seç</option>
                                                <option>Türkiye</option>
                                                <option>Almanya</option>
                                                <option>USA</option>
                                                <option>Fransa</option>
                                                <option>Suriye</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="mobno">Telefon Numarası:</label>
                                            <input asp-for="User.Phone" type="text" class="form-control" id="mobno" placeholder="(+**) *** *** ** **" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="altconno">
                                                Alternatif İletişim:
                                            </label>
                                            <input asp-for="Phone" type="text" class="form-control" id="altconno" placeholder="(+**) *** *** ** **">
                                        </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Email:</label>
                                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Email@gmail.com">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="title">Başlık:</label>
                                        <input asp-for="Title" type="title" class="form-control" id="title" placeholder="Görevinizi giriniz">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="experience">Deneyim:</label>
                                        <input asp-for="Experience" type="text" required class="form-control" id="experience" placeholder="Deneyiminizi giriniz" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="explantion">Açıklama:</label>
                                        <input asp-for="Explantion" type="explantion" class="form-control" id="explantion" placeholder="Hakkınızda açıklama giriniz">
                                    </div>

                                        @*  <div class="form-group col-md-12">
                                        <label for="city">İl/Şehir:</label>
                                        <input asp-for="" type="text" class="form-control" id="city" placeholder="İl/Şehir">
                                        </div>
                                        <div class="form-group col-md-12">
                                        <label for="city">İlçe:</label>
                                        <input type="text" class="form-control" id="city" placeholder="İlçe">
                                        </div> *@
                                    </div>
                                    <hr>
                                    <h5 class="mb-3">Security</h5>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="pass">Şifre:</label>
                                            <input asp-for="User.Password" type="password" class="form-control" id="pass" placeholder="Şifre123..">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="rpass">Şifreyi Tekrarla:</label>
                                            <input asp-for="User.ConfirmPassword" type="password" class="form-control" id="rpass" placeholder="Şifre123.. ">
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input class="mr-2" type="checkbox">İki Faktörlü Kimlik Doğrulamayı Etkinleştir</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Yeni Doktor Ekle</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

